*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.ipynb
*.lof
*.log
*.lot
*.nav
*.out
*.pdf
*.snm
*.tdo
*.toc
*.vrb
*.xdv

_minted-slides/

bedingung
eingabe
eingabe_aufgabe
hello
logische_operatoren
name
rechnen
schaltjahr
zuweisung
aufgabe_collatz
aufgabe_primzahl
aufgabe_quadrat
aufgabe_schleife_1
schleife
